@import "../../variables";

.section-nav {
  background-color: darken($background-blue, 20%);
  border-radius: 4px;
  padding: 10px 10px;
  margin: 5px 0;

  a {
    display: block;
    padding: 5px 0;
    color: $white;
  }
}