.sidebar {
  flex: 0 0 auto;
  margin: 8px 0 8px 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
}

.sidebar-collapsed {
  width: 150px;
}

.sidebar-nav {
  background-color: #07a;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 8px;
  padding: 8px 0;
  text-shadow: 1px 1px 0 black;
}

.sidebar .currency-negative {
  color: #f99;
}

.sidebar-sectionnav-link {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  padding: 0 10px;
  white-space: nowrap;
}

.sidebar-sectionnav-allaccounts-name {
  flex: 1 1;
}

.sidebar-accountnav-header {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 2;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  .sidebar-accountnav-header:before {
    content: "\25BC"; /* ISO 10646 */
    flex: 0 0 15px;
    margin-top: 6px;
    font-style: normal;
    font-size: 8px;
    text-shadow: none;
    width: 15px;
  }
  .sidebar-accountnav-header-collapsed:before {
    content: "\25BA";
  }

.sidebar-accountnav-header-name {
  flex: 1 1;
}

.sidebar-accountnav-link {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  .sidebar-accountnav-link:hover {
    background-color: #005c84;
  }

.sidebar-accountnav-notification-count {
  width: 15px;
  flex: 0 0 15px;
}

.sidebar-accountnav-account-name {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-total {
  padding-left: 5px;
}
.sidebar-accountnav-header-total {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 2px;
}
.sidebar-sectionnav-allaccounts-total {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-addaccount-btn {
  background-color: #30B1DB;
  border: 1px solid #66CBED;
  border-radius: 13px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  outline: none;
  padding: 5px 10px 5px 5px;
  text-shadow: 1px 1px 0 black;
}
  .sidebar-addaccount-btn:before {
    content: "\002B";
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    width: 16px;
    text-shadow: none;
  }

.sidebar-toggle-btn {
  color: #07a;
  cursor: pointer;
  float: right;
  font-size: 10px;
}
